<%- include('partials/header') -%>

<div>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    <button type="button" class="btn btn-outline-success">Login</button>
    <button type="button" class="btn btn-outline-info">Register</button>
  </ul>
</div>

<p>or view all the recipes: </p>

<p>preview of the top recipes</p>

<%- include('partials/footer') -%>
