<%- include('partials/header') -%>

<div class="container">
  <ul class="row justify-content-around mt-5">
    <button type="button" class="col-3 btn btn-outline-success">Login</button>
    <button type="button" class="col-3 btn btn-outline-info">Register</button>
  </ul>
</div>

<p>or view all the recipes: </p>

<p>preview of the top recipes</p>

<%- include('partials/footer') -%>
