<%- include('partials/header') -%>

<div class="container">
  <ul class="row justify-content-around mt-5">
    <a href="/recipes" class="col-3 btn btn-outline-success">Login</a>
    <a href="/recipes" class="col-3 btn btn-outline-info">Register</a>
  </ul>
</div>

<p>or view all the recipes: </p>

<p>preview of the top recipes</p>

<%- include('partials/footer') -%>
