<%- include('partials/header') -%>


  <div class="container">
    <ul class="row justify-content-around mt-5">
      <a href="/login" class="col-3 btn btn-outline-success">Login</a>
      <a href="/signup" class="col-3 btn btn-outline-info">Register</a>
    </ul>
    <div class="justify-content-center">
      <div id="editor-container">
      </div>
      <button id="getTextFromTheContainer">gimmie that text</button>
    </div>

    <div id="delta-container"></div>
    <p></p>
  </div>



  <!-- https://getbootstrap.com/docs/5.2/components/carousel/ -->

  <%- include('partials/footer') -%>