<form action="/add-recipe" method="post">
  <input type="text" placeholder="title" name="title" />
  <input type="text" placeholder="author" name="author" />
  <input type="text" placeholder="instructions" name="instructions" />
  <input type="radio" name="difficulty" value="Easy" id="easy" />
  <label for="easy">Easy</label>
  <input type="radio" name="difficulty" value="Moderate" id="moderate" />
  <label for="moderate">Moderate</label>
  <input type="radio" name="difficulty" value="Hard" id="hard" />
  <label for="hard">Hard</label>
  <input type="submit" />
</form>
