<%- include('partials/header') -%>
<form action="/submission/add-recipe" method="post">
  <input type="text" placeholder="title" name="title" />
  <input type="text" placeholder="author" name="author" />
  <input type="radio" name="difficulty" value="Easy" id="easy" />
  <label for="easy">Easy</label>
  <input type="radio" name="difficulty" value="Moderate" id="moderate" />
  <label for="moderate">Moderate</label>
  <input type="radio" name="difficulty" value="Hard" id="hard" />
  <label for="hard">Hard</label>
  <div class="editable" placeholder="instructions" name="instructions"></div>
  <input type="text" class="editable" placeholder="instructions" name="instructions">
  <input type="submit" />
</form>
<%- include('partials/footer') -%>
